# Setup linux packages
option_settings:
  - option_name: BUNDLE_DISABLE_SHARED_GEMS
    value: "1"
  - option_name: BUNDLE_PATH
    value: "vendor/bundle"
  - option_name: SECRET_KEY_BASE
    value: "5ba1071867b919f32f126e7cece33499f68ea1f54aecfe3085437ae3ea229754fee87638267d05ebaba8b1f6436671a4ec23e598b5e09f4b785ec5c94ddd1a93"

packages:
  yum:
    curl: []
    git: []
    gcc: []

commands:
  01_install_bundler:
    command: 'gem install bundler -v 2.0.1'