commands:
  02_start_redis:
    # run this command from /tmp directory
    command: 'redis-server --daemonize yes'
    
files:
# Runs before `./10_bundle_install.sh`:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/09_gem_install_bundler.sh" :
   mode: "000775"
   owner: root
   group: root
   content: |
    #!/usr/bin/env bash
    EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
    EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
    # Source the application's ruby, i.e. 2.6. Otherwise it will be 2.3, which will give this error: `bundler requires Ruby version >= 2.3.0`
    . $EB_SCRIPT_DIR/use-app-ruby.sh
    cd $EB_APP_STAGING_DIR
    echo "Installing compatible bundler"
    gem install bundler -v 2.0.1

  "/etc/nginx/conf.d/webapp_healthd.conf" :
   mode: "000775"
   owner: root
   group: root
   content: |
    upstream my_app {
        server unix:///var/run/puma/my_app.sock;
    }

    log_format healthd '$msec"$uri"'
                    '$status"$request_time"$upstream_response_time"'
                    '$http_x_forwarded_for';

    server {
        listen 80;
        server_name _; # need to listen to localhost for worker tier

        if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
            set $year $1;
            set $month $2;
            set $day $3;
            set $hour $4;
        }

        access_log  /var/log/nginx/access.log  main;
        access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;

        location / {
            proxy_pass http://my_app; # match the name of upstream directive which is defined above
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            limit_req  zone=one burst=5 nodelay;
        }

        location /cable {
            proxy_pass http://my_app/cable;
            proxy_http_version 1.1;
            #proxy_set_header Upgrade $http_upgrade;
            #proxy_set_header Connection $connection_upgrade;
            proxy_set_header Upgrade websocket;
            proxy_set_header Connection "Upgrade";
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host $http_host;
            proxy_redirect off;
            proxy_set_header X-Forwarded-Proto $scheme;
            limit_req  zone=one burst=5 nodelay;
        }
        location /assets {
            alias /var/app/current/public/assets;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
        }

        location /public {
            alias /var/app/current/public;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
        }
    }


